extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro 
        em aventura
block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed bibendum massa. Proin condimentum turpis non arcu dictum, sed malesuada purus semper. Sed eu elementum ante, eleifend finibus diam. Nullam egestas varius libero vitae elementum.
               
                p Proin scelerisque quis purus quis condimentum. Aliquam sagittis neque dolor, eget tempus massa viverra at. Vivamus vulputate eleifend tempus. Morbi iaculis et lorem quis posuere. Suspendisse vitae aliquam lorem. Donec venenatis orci eu erat tempus suscipit vitae in ipsum.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

        include ./layout/bloque_viajes


    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2500 USD
    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales